extends layout

block content
    .container
      // Portfolio Item Heading
      h3 #{portfolioName} 
      p  consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
                    
      // /.row
      // Related Projects Row
    