extends layout

block content
	h1 Login
	p Please login below
	form(method='post',action='/users/login',endtype='multipart/form-data')
		.form-group
			lable Username
			input.form-control(name='username',type='text',placeholder='Enter UserName')
		.form-group
			lable Password
			input.form-control(name='password',type='password',placeholder='Enter Password')
		input.btn.btn-default(name='submit',type='submit',value='Login')
